.home-container {
  background-image: url("https://i.pinimg.com/originals/95/fc/9d/95fc9d6faecd2ecc13b1179ae07b3755.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-section {
  text-align: center;
  margin-bottom: 50px;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.cta-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #0077cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.cta-button:hover {
  background-color: #0059a2;
}

.featured-section {
  margin-bottom: 50px;
}

.featured-section h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.featured-materials {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.add-materials-section {
  text-align: center;
}

.add-materials-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.add-materials-section p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.login-container {
  background: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.login-label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.login-input {
  font-size: 1.2rem;
  border: 1px solid lightgray;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 16px;
}

.login-button {
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  background: #0077cc;

  color: white;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  cursor: pointer;

}