/* navbar */
.navbar {
  background-color: #b0a3a3;
  color: #fff;
  padding: 0.5rem 1rem;
}

/* navbar brand */
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

/* navbar toggler icon */
.navbar-toggler-icon {
  background-image: url("https://cdn4.iconfinder.com/data/icons/basic-ui-elements/700/09_menu_stack-512.png");
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
}

/* active nav link */
.nav-link.active {
  font-weight: bold;
}

/* nav link hover */
.nav-link:hover {
  text-decoration: none;
}

/* navbar collapse */
.navbar-collapse {
  justify-content: flex-end;
}

/* navbar ul */
.navbar-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* navbar li */
.nav-item {
  padding: 0.5rem;
}

.nav-login {
  background-color: #0077cc;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  color: #fff;
  font-weight: bold;
}

.nav-link {
  font-weight: bold;
  color: #fff;
}

.nav-link:hover {
  color: #ccc;
}

.nav-link.active {
  color: #ccc;
}

.navbar-toggler {
  border: none;
  outline: none;
}

.navbar-toggler-icon {
  background-color: #deb4b4;
  border-radius: 4px;
  padding: 3px;
}

.navbar-toggler-icon:hover {
  background-color: #ccc;
}
